<html>
<head>
  <title>Authentication Server: Edit Password</title>
</head>
<body>

  <form action="/edit" method="POST">
    <label for="password">New Password</label>
    <input id="password" type="text" name="password" value="<%= password %>">
    <input type="submit" value="Save">
  </form>

</body>
</html>
